#
# Bluetooth
#
CONFIG_BT_ENABLED=y

#
# Bluetooth controller
#
#CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
#CONFIG_BTDM_CTRL_BLE_MAX_CONN=7
#CONFIG_BTDM_CTRL_BR_EDR_SCO_DATA_PATH_EFF=0
#CONFIG_BTDM_CTRL_PCM_ROLE_EFF=0
#CONFIG_BTDM_CTRL_PCM_POLAR_EFF=0
#CONFIG_BTDM_CTRL_BLE_MAX_CONN_EFF=7
#CONFIG_BTDM_CTRL_BR_EDR_MAX_ACL_CONN_EFF=0
#CONFIG_BTDM_CTRL_BR_EDR_MAX_SYNC_CONN_EFF=0
#CONFIG_BTDM_CTRL_PINNED_TO_CORE_0=y
#CONFIG_BTDM_CTRL_PINNED_TO_CORE=0
#CONFIG_BTDM_CTRL_HCI_MODE_VHCI=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
